### List

is basically collection of data of different types of data, it is represented or intialized in form of square brackets '[]'

lst = [1,2,3,4,5]
each element is separated by comma ','

Use case: 
student 1 = [1,'Srirag','0032',89,97,85]

you can store different types of data into one list

In [37]:
lst = ['Srirag','Shiva','Rohan','Sujith','Hari','Jayanth','Nishanth']

In [38]:
print(lst)

['Srirag', 'Shiva', 'Rohan', 'Sujith', 'Hari', 'Jayanth', 'Nishanth']

In [39]:
#access the elements through indexing
print(lst[0])

Srirag

In [40]:
print(lst[5])

Jayanth

In [41]:
print(lst[-1])

Nishanth

In [42]:
#modify values
print('before:' ,lst)
lst[2]='Rohith'
print('after:',lst)

before: ['Srirag', 'Shiva', 'Rohan', 'Sujith', 'Hari', 'Jayanth', 'Nishanth']
after: ['Srirag', 'Shiva', 'Rohith', 'Sujith', 'Hari', 'Jayanth', 'Nishanth']

[start:stop:steps]

In [43]:
#slicing
print(lst[1:4])

['Shiva', 'Rohith', 'Sujith']

In [44]:
#reverse a list with steps
print(lst[::-1])
#steps 
print(lst[::-2])

['Nishanth', 'Jayanth', 'Hari', 'Sujith', 'Rohith', 'Shiva', 'Srirag']
['Nishanth', 'Hari', 'Rohith', 'Srirag']

In [45]:
#appending 
print(lst)
lst.append('Rohan')
print(lst)

['Srirag', 'Shiva', 'Rohith', 'Sujith', 'Hari', 'Jayanth', 'Nishanth']
['Srirag', 'Shiva', 'Rohith', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan']

In [46]:
#removing 
print(lst)
lst.remove('Rohith')
print(lst)

['Srirag', 'Shiva', 'Rohith', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan']
['Srirag', 'Shiva', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan']

In [47]:
#length
print(len(lst))

7

In [48]:
#sorting
lst2=[1,4,10,32,53,11,2,6]
print(lst2)
print(sorted(lst2))

[1, 4, 10, 32, 53, 11, 2, 6]
[1, 2, 4, 6, 10, 11, 32, 53]

In [49]:
#find the element
print(lst.index('Srirag'))
print(lst.index('Rohan'))

0
6

In [50]:
#count the frequency
print(lst.count('Srirag'))

1

In [51]:
#Extending
lst.extend(['Ajay','Phani'])
print(lst)

['Srirag', 'Shiva', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan', 'Ajay', 'Phani']

Difference between Extending and Appending?

Appending basically go one by one adding into the list.
Extending you can add mutliple values into the list.

In [52]:
#finding maxmium value and minumum value
print(lst2)
print(max(lst2))
print(min(lst2))

[1, 4, 10, 32, 53, 11, 2, 6]
53
1

In [53]:
#iterating the elements into list - Direct
print(lst)
print('-'*20)
for name in lst:
    print(name)

['Srirag', 'Shiva', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan', 'Ajay', 'Phani']
--------------------
Srirag
Shiva
Sujith
Hari
Jayanth
Nishanth
Rohan
Ajay
Phani

In [54]:
#iterating the elements into list - indexing
print(lst)
print('-'*20)
for i in range(len(lst)):
    print(lst[i])

['Srirag', 'Shiva', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan', 'Ajay', 'Phani']
--------------------
Srirag
Shiva
Sujith
Hari
Jayanth
Nishanth
Rohan
Ajay
Phani

In [55]:
#iterating the elements into list - indexing - reverse
print(lst)
print('-'*20)
n = len(lst)-1
#(start:stop:steps)
for i in range(n,-1,-1):
    print(lst[i])

['Srirag', 'Shiva', 'Sujith', 'Hari', 'Jayanth', 'Nishanth', 'Rohan', 'Ajay', 'Phani']
--------------------
Phani
Ajay
Rohan
Nishanth
Jayanth
Hari
Sujith
Shiva
Srirag

### Multi-dimensional List

Basically List inside the List

examples:

lst = [['Srirag',0032,98,78,87],['Rohan',0074,98,76,88]]

lst[0] = ['Srirag',0032,98,78,87]

lst 1 = [[1,2,3],[1,2,3,4],[[1,2,3],[3,4,5,6]]]

In [56]:
lst2 = [[1,2,3],[4,5,6],[7,8,9]]

In [57]:
print(lst2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [58]:
#accessing the elements
print(lst2)
print(lst2[0])
print(lst2[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
2

In [59]:
#modify the values
print(lst2)
lst2[1][1]=0
print(lst2)
lst2[1]=['Srirag',32]
print(lst2)
print(lst2[0:2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 0, 6], [7, 8, 9]]
[[1, 2, 3], ['Srirag', 32], [7, 8, 9]]
[[1, 2, 3], ['Srirag', 32]]

In [60]:
#appending the values
print(lst2)
lst2.append([11,12,13])
print(lst2)

[[1, 2, 3], ['Srirag', 32], [7, 8, 9]]
[[1, 2, 3], ['Srirag', 32], [7, 8, 9], [11, 12, 13]]

In [61]:
#delete the index
print(lst2)
del lst2[3]
print(lst2)

[[1, 2, 3], ['Srirag', 32], [7, 8, 9], [11, 12, 13]]
[[1, 2, 3], ['Srirag', 32], [7, 8, 9]]

In [62]:
#length of the lst
lst3=[1,2,3,4,[1,2,3]]
print(len(lst3))

5

In [63]:
#reversing lst
print(lst3[::-1])

[[1, 2, 3], 4, 3, 2, 1]

In [77]:
#accessing all the elements
print(lst3)
for sublist in lst3:
    for element in sublist:
        print(element)  
        #throwing error need check later.

[1, 2, 3, 4, [1, 2, 3]]

TypeError: 'int' object is not iterable

### List Comprehension

In [74]:
lst4=[1,2,3,4,5,6,7,8,9]
s=[i**2 for i in lst4] #list comprehension
print(s)
 
r = [s[i] for i in range(len(s)) if s[i]%2==0] #list comprehension
print(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64]

In [ ]:
#list comprehension with multi dimension list
lst3=[1,2,3,4,[1,2,3]]
print(lst3)
lst6 = [sublist for sublist in lst3]
print(lst6)

In [ ]:
#accessing all the elements
lst7 = [[1,2,3],[4,5,6],[7,8,9]]
print(lst7)
lst8 = [[j for j in i]for i in lst7]
print(lst8)

### Dictionary

it follows key value pair {Key1:value1,key2:value2}, every pair is comma separated.

functionality for dictionary: 

    i) you cannot have same keys in same dictionary. if duplicated, key will have updated value.
    ii) keys should be unique and key can be any datatype.

In [67]:
#Initialzing the dictionary
dct = {1:'Srirag',2:'Shiva',3:'Hari',4:'Rohan',5:'Sujith'}
print(dct)

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}

In [68]:
dct = {1:'Srirag',2:'Shiva',3:'Hari',4:'Rohan',1:'Sujith'}
print(dct)

{1: 'Sujith', 2: 'Shiva', 3: 'Hari', 4: 'Rohan'}

In [69]:
dct = {1:'Srirag',2:'Shiva',3:'Hari',4:'Rohan','1':'Sujith'} #Datatype is different
print(dct)

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', '1': 'Sujith'}

In [70]:
dct = {1:'Srirag',2:'Shiva',3:'Hari',4:'Rohan',5:'Sujith'}

In [81]:
#Accessing the elements
print(dct)
print(dct[1])
print(dct.get(1))

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}
Srirag
Srirag

In [85]:
#Adding and updating the key value pairs
print(dct)
dct[6]='Nishanth'
print(dct)

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}
{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith', 6: 'Nishanth'}

In [86]:
del dct[6]
print(dct)

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}

In [87]:
#cleaning the dictionary
print(dct)
dct.clear()
print(dct)

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}
{}

In [92]:
#Iterating through the dictionary
dct = {1:'Srirag',2:'Shiva',3:'Hari',4:'Rohan',5:'Sujith'}
print(dct)
print(dct.keys())
print(dct.values())

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}
dict_keys([1, 2, 3, 4, 5])
dict_values(['Srirag', 'Shiva', 'Hari', 'Rohan', 'Sujith'])

In [93]:
for k in dct.keys():
    print(k,dct[k])

1 Srirag
2 Shiva
3 Hari
4 Rohan
5 Sujith

In [94]:
print(dct.items())

dict_items([(1, 'Srirag'), (2, 'Shiva'), (3, 'Hari'), (4, 'Rohan'), (5, 'Sujith')])

In [95]:
for i in dct.items():
    print(i)

(1, 'Srirag')
(2, 'Shiva')
(3, 'Hari')
(4, 'Rohan')
(5, 'Sujith')

In [96]:
for k,v in dct.items():
    print(k,v)

1 Srirag
2 Shiva
3 Hari
4 Rohan
5 Sujith

In [98]:
#check if key is present
print(dct)
print(1 in dct)
print(10 in dct)

{1: 'Srirag', 2: 'Shiva', 3: 'Hari', 4: 'Rohan', 5: 'Sujith'}
True
False

In [101]:
#dct updating the dictionaries
dct_1 = {1:'A',2:'B',3:'c'}
dct_2 = {1:'a',2:'b',3:'c'}
print(dct_1)
print(dct_2)
dct_1.update(dct_2)
print(dct_1)
print(dct_2)

{1: 'A', 2: 'B', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

In [107]:
#dct merging the dictionaries
dct_1 = {1:'A',2:'B',3:'c'}
dct_2 = {4:'a',5:'b',6:'c'}
print(dct_2)
for i in dct_1.keys():
    dct_2[i] = dct_1[i]
    
    
print(dct_2)

{4: 'a', 5: 'b', 6: 'c'}
{4: 'a', 5: 'b', 6: 'c', 1: 'A', 2: 'B', 3: 'c'}

Dictionary methods
dict.clear() - Remove all the elements from the dictionary

dict.copy() - Returns a copy of the dictionary

dict.get(key, default = “None”) - Returns the value of specified key

dict.items() - Returns a list containing a tuple for each key value pair

dict.keys() - Returns a list containing dictionary’s keys

dict.update(dict2) - Updates dictionary with specified key-value pairs

dict.values() - Returns a list of all the values of dictionary

pop() - Remove the element with specified key

popItem() - Removes the last inserted key-value pair

dict.setdefault(key,default= “None”) - set the key to the default value if the key is not specified in the dictionary

dict.has_key(key) - returns true if the dictionary contains the specified key.

dict.get(key, default = “None”) - used to get the value specified for the passed key.

### Multi dimensional Dictionary

{Key1 : {key2:value}}

In [1]:
mdct = {1:{'Name': 'Srirag','Phone':'123456789'}}

In [2]:
print(mdct)

{1: {'Name': 'Srirag', 'Phone': '123456789'}}

In [3]:
print(len(mdct))

1

In [4]:
mdct = {1:{'Name': 'Srirag','Phone':'123456789'},2:{'Name': 'Sujith','Phone':'987654321'}}

In [5]:
print(mdct)

{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Sujith', 'Phone': '987654321'}}

In [8]:
#Accessing the elements
print(mdct)
print('-'*50)
print(mdct[1])
print('-'*50)
print(mdct[1]['Name'])

{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Sujith', 'Phone': '987654321'}}
--------------------------------------------------
{'Name': 'Srirag', 'Phone': '123456789'}
--------------------------------------------------
Srirag

In [12]:
#Adding, Updating & Deleting
print(mdct)
mdct[2]['Name'] = 'Rohan'
print(mdct)

{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Sujith', 'Phone': '987654321'}}
{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Rohan', 'Phone': '987654321'}}

In [15]:
mdct[3]={'Name' : 'Shiva', 'Phone':'123987456'}
print(mdct)

{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Rohan', 'Phone': '987654321'}, 3: {'Name': 'Shiva', 'Phone': '123987456'}}

In [16]:
del mdct[3]
print(mdct)

{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Rohan', 'Phone': '987654321'}}

In [19]:
#Going through the data
print(mdct)
print('-'*50)
for i in mdct.keys():
    print(i,mdct[i]['Name'])

{1: {'Name': 'Srirag', 'Phone': '123456789'}, 2: {'Name': 'Rohan', 'Phone': '987654321'}}
--------------------------------------------------
1 Srirag
2 Rohan

In [20]:
1 in mdct

True

In [22]:
#Going a level depper with marks
data = {1: {'Name': 'Srirag', 'Phone': '123456789','Marks':{'hin':45,'eng':49,'tel':43}}, 
        2: {'Name': 'Rohan', 'Phone': '987654321','Marks':{'hin':40,'eng':42,'tel':47}}, 
        3: {'Name': 'Shiva', 'Phone': '123987456','Marks':{'hin':41,'eng':39,'tel':48}}}

print(data)

{1: {'Name': 'Srirag', 'Phone': '123456789', 'Marks': {'hin': 45, 'eng': 49, 'tel': 43}}, 2: {'Name': 'Rohan', 'Phone': '987654321', 'Marks': {'hin': 40, 'eng': 42, 'tel': 47}}, 3: {'Name': 'Shiva', 'Phone': '123987456', 'Marks': {'hin': 41, 'eng': 39, 'tel': 48}}}

In [27]:
for i in data.keys():
    print(i,data[i]['Name'],data[i]['Marks']['hin'])

1 Srirag 45
2 Rohan 40
3 Shiva 41

Application of multidimensional Dictionary
1. Configuration Settings: Representing configuration settings where each setting category has various parameters.

2. Tree Structures: Representing hierarchical structures such as organizational charts.

3. Nested Data: Storing data with a hierarchical relationship, where each level provides more specific information.

### Dictionary Comprehension

In [29]:
ndct = {i:i**2 for i in range(1,6)}
print(ndct)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [31]:
#Dictionaries with conditions
ndct2 = {i:i**2 for i in range(1,11) if i%2 == 0}
print(ndct2)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [8]:
#Dictionaries from lists
lst = ['Apple','Banana','Grapes']
ndct3 = {i:lst[i - 1] for i in range(1,len(lst)+1)}
print(ndct3)

{1: 'Apple', 2: 'Banana', 3: 'Grapes'}

In [14]:
#Special keys with strings
ndct4 = {'num_'+str(i):i for i in range(1,101) if i%7==0}
print(ndct4)

{'num_7': 7, 'num_14': 14, 'num_21': 21, 'num_28': 28, 'num_35': 35, 'num_42': 42, 'num_49': 49, 'num_56': 56, 'num_63': 63, 'num_70': 70, 'num_77': 77, 'num_84': 84, 'num_91': 91, 'num_98': 98}

In [19]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
final_dct = {(i,j) : matrix[i][j] for i in range(3) for j in range(3)}
print(final_dct)

{(0, 0): 1, (0, 1): 2, (0, 2): 3, (1, 0): 4, (1, 1): 5, (1, 2): 6, (2, 0): 7, (2, 1): 8, (2, 2): 9}

In [20]:
print(final_dct[(0,0)])

1

### Sets and Tuples

these data structures are called supporting data structures, they help in supporting different operations on main data structures list and dictionaries.

Sets -> { }

i) sets are mutable we can add,remove,modify into it.

ii) unique, no duplication.

iii) unordered


Tuples -> ()

i) immutable, can't be change.

ii) duplication is allowed.

iii) ordered

In [1]:
#creating a set
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
print(type(my_set))

<class 'set'>

In [3]:
#adding 
my_set.add(6)
print(set)

<class 'set'>

In [4]:
#pop
my_set.pop()

1

In [5]:
print(my_set)

{2, 3, 4, 5, 6}

In [8]:
#remove
print(my_set)
my_set.discard(2)
print(my_set)

{2, 3, 4, 5, 6}
{3, 4, 5, 6}

In [9]:
#iterating
print(my_set)
for i in my_set:
    print(i)

{3, 4, 5, 6}
3
4
5
6

In [10]:
#checking the value
print(3 in my_set)

True

In [17]:
#set operations
set_1 = {1,2,3,4}
set_2 = {4,5,6}
print('Union: ',set_1 | set_2)
print('Intersection: ',set_1 & set_2)
print('Difference: ',set_2 - set_1)
print('Symmetric Diff: ',set_1 ^ set_2)

Union:  {1, 2, 3, 4, 5, 6}
Intersection:  {4}
Difference:  {5, 6}
Symmetric Diff:  {1, 2, 3, 5, 6}

In [18]:
#clearning
print(my_set)
my_set.clear()
print(my_set)

{3, 4, 5, 6}
set()

In [31]:
#updating the set
Set={1,2,3,4}
Set.add(6)
Set.update([4,5,6])
print(Set)

{1, 2, 3, 4, 5, 6}

In [19]:
#tuple initalization
tpl = (1,2,3,4,5)
print(tpl)

(1, 2, 3, 4, 5)

In [20]:
#accessing 
tpl = (1,2,3,4,5)
print(tpl[0])

1

In [21]:
#slicing
tpl = (1,2,3,4,5)
print(tpl[1:3])

(2, 3)

In [24]:
#concatenate
tp1 = (1,2,3,4,5)
tp2 = (6,7,8)
tp1 = tp1 +tp2
print(tpl)

(1, 2, 3, 4, 5)

In [25]:
#iterating
print(tpl)
for i in tpl:
    print(i)

(1, 2, 3, 4, 5)
1
2
3
4
5

In [27]:
#checking the element
print(2 in  tpl)
print(10 in tpl)

True
False

In [28]:
#checking the count
print(tpl)
print(tpl.count(4))

(1, 2, 3, 4, 5)
1

In [29]:
#indexing
print(tpl)
print(tpl.index(4))

(1, 2, 3, 4, 5)
3

In [30]:
#Multiplying the tuple
print(tpl*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

Properties of Tuples:

Tuples are immutable which means once a tuple is created, you cannot modify its elements. You can't add, remove, or change elements in a tuple.

Tuples are ordered, meaning the position of an element in a tuple is preserved.

Tuples can contain elements of different data types. You can have integers, strings, floats, and other data types within the same tuple.

### How to decide the Data structures for the problem

Deciding on the right data structure for a problem is a crucial step in designing an efficient algorithm. The choice of data structure can significantly impact the performance and scalability of your solution.

Understanding the Problem

Before choosing a data structure, it's essential to thoroughly understand the problem requirements and constraints. Consider the following aspects:

Access Patterns:

Identify how data will be accessed and manipulated. Does the problem involve frequent insertions, deletions, or lookups?

Space Complexity:

Understand the memory constraints of the problem. Some data structures may consume more memory than others.

Time Complexity:

Evaluate the time complexity of various operations. Certain data structures excel in specific operations but might be inefficient in others.

Ordered vs. Unordered Data:

Determine whether the order of the data matters or if it can be arbitrary.